/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Perikles implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * perikles.css
 *
 * Perikles stylesheet
 *
 */


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

@font-face {
    font-family: 'ThrumsSerifRegular', serif;
    src: local('ThrumsSerifRegular'), url('https://fontlibrary.org//face/thrums-serif-regular');
    font-style: normal;
    font-weight: normal;
}

:root {
    --color_sparta: #F3BE7A;
    --color_athens: #83CBFA;
    --color_corinth: #B95AB4;
    --color_argos: #A9D035;
    --color_thebes: #F8F654;
    --color_megara: #FF633A;
    --color_anycity: #9A5200;
    /* tokens */
    --counter_dim: 52px;
    /* board has been blown up to 2x size */
    --boardscale: 2;
    /* Influence tiles */
    --influence_sprites_w: 384px;
    --influence_sprites_h: 1393px;
    /* card dimensions */
    --influence_w: 128px;
    --influence_h: 199px;
    /* Special tiles */
    --special_sprites_w: 1244px;
    --special_sprites_h: 980px;
    --special_w: 311px;
    --special_h: 490px;
    /* Leader/Defeat counters */
    --counter_w: 83px;
    --counter_h: 82px;
    --counter_scale: 0.5;
    /* Location tiles */
    --location_w: 124px;
    --location_h: 195px;
    --location_scale: 0.55;
    /* Military tiles */
    --military_l: 100px;
    --military_s: 62px;
}

.per_city {
    position: absolute;
    width: 322px;
    height: 215px;
}

.per_special_tile {
    background-image: url(img/special_tiles.jpg);
    background-size: calc(var(--scale) * var(--special_sprites_w)) calc(var(--scale) * var(--special_sprites_h));
    background-repeat: no-repeat;
    position: relative;
    width: calc(var(--scale) * var(--special_w));
    height: calc(var(--scale) * var(--special_h));
}

.per_special_tile_tt {
    background-image: url(img/special_tiles.jpg);
    background-size: calc(var(--scale) * var(--special_sprites_w)) calc(var(--scale) * var(--special_sprites_h));
    background-repeat: no-repeat;
    position: relative;
    width: calc(var(--scale) * var(--special_w));
    height: calc(var(--scale) * var(--special_h));
    margin: 5px;
}

.per_special_tile_used {
    opacity: 0.5;
    transform: rotate(180deg);
}

.per_special_tile_back {
    background-image: url(img/special_cardback.jpg);
    background-size: calc(var(--special_w)*var(--scale)) calc(var(--special_h)*var(--scale));
    background-repeat: no-repeat;
    position: relative;
    width: calc(var(--special_w)*var(--scale));
    height: calc(var(--special_h)*var(--scale));
}

.per_location_slot {
    position: absolute;
    width: 70px;
    height: 104px;
}

.per_location_tile {
    background-image: url(img/location_tiles.jpg);
    background-size: calc(var(--location_w)*7 *var(--location_scale)) calc(var(--location_h)*3*var(--location_scale));
    background-repeat: no-repeat;
    position: relative;
    width: calc(var(--location_scale) * var(--location_w));
    height: calc(var(--location_scale) * var(--location_h));
}

.perikles {
    background-position: 0px 0px;
}

.persianfleet {
    background-position: calc(-1 * var(--scale) * var(--special_w)) 0px;
}

.slaverevolt {
    background-position: calc(-2 * var(--scale) * var(--special_w)) 0px;
}

.brasidas {
    background-position: calc(-3 * var(--scale) * var(--special_w)) 0px;
}

.thessalanianallies {
    background-position: 0px calc(-1 * var(--scale) * var(--special_h));
}

.alkibiades {
    background-position: calc(-1 * var(--scale) * var(--special_w)) calc(-1 * var(--scale) * var(--special_h));
}

.phormio {
    background-position: calc(-2 * var(--scale) * var(--special_w)) calc(-1 * var(--scale) * var(--special_h));
}

.plague {
    background-position: calc(-3 * var(--scale) * var(--special_w)) calc(-1 * var(--scale) * var(--special_h));
}

.per_influence_tile {
    background-image: url(img/influence_tiles.jpg);
    background-size:  calc(var(--influence_sprites_w)*0.5) calc(var(--influence_sprites_h)*0.5);
    background-repeat: no-repeat;
    position: relative;
    width: calc(var(--influence_w)*0.5);
    height: calc(var(--influence_h)*0.5);
    margin: auto;
}

.per_counter {
    background-image: url(img/leader_counters.jpg);
    background-size:  calc(11 * var(--counter_scale) * var(--counter_w)) calc(var(--counter_scale) * var(--counter_h));
    background-repeat: no-repeat;
    position: relative;
    width: calc(var(--counter_scale) * var(--counter_w));
    height: calc(var(--counter_scale) * var(--counter_h));
}

.per_defeat_counter {
    background-image: url(img/leader_counters.jpg);
    background-size:  calc(11 * var(--counter_scale) * var(--counter_w)) calc(var(--counter_scale) * var(--counter_h));
    background-repeat: no-repeat;
    position: relative;
    width: calc(var(--counter_scale) * var(--counter_w));
    height: calc(var(--counter_scale) * var(--counter_h));
    top: 5px;
    background-position: calc(-10 * var(--counter_scale) * var(--counter_w)) 0;
    box-shadow: 3px 3px 12px 5px #8a0303;
}

.per_statue {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
}

.per_leader_black {
    background-position: 0 0;
}

.per_statue_black {
    background-position: calc(-1 * var(--counter_scale) * var(--counter_w)) 0;
}

.per_leader_white {
    background-position: calc(-2 * var(--counter_scale) * var(--counter_w)) 0;
}

.per_statue_white {
    background-position: calc(-3 * var(--counter_scale) * var(--counter_w)) 0;
}

.per_leader_orange {
    background-position: calc(-4 * var(--counter_scale) * var(--counter_w)) 0;
}

.per_statue_orange {
    background-position: calc(-5 * var(--counter_scale) * var(--counter_w)) 0;
}

.per_leader_green {
    background-position: calc(-6 * var(--counter_scale) * var(--counter_w)) 0;
}

.per_statue_green {
    background-position: calc(-7 * var(--counter_scale) * var(--counter_w)) 0;
}

.per_leader_red {
    background-position: calc(-8 * var(--counter_scale) * var(--counter_w)) 0;
}

.per_statue_red {
    background-position: calc(-9 * var(--counter_scale) * var(--counter_w)) 0;
}

.per_influence_slot {
    position: absolute;
    width: calc(var(--boardscale) * 38px);
    height: calc(var(--boardscale) * 53px);
}

.per_counter_slot {
    position: absolute;
    height: var(--counter_dim);
    width: var(--counter_dim);
}

.per_city_cubes {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 14px;
    height: 120px;
}

.per_candidate_space {
    position: absolute;
    width: 14px;
    height: 14px;
}

.per_cube {
    width: 14px;
    height: 14px;
    box-shadow: rgb(38 57 77) 0px 4px 4px 0px;
    margin: 2px 0;
}

.per_statue_zone {
    position: absolute;
    width: 40px;
    height: 45px;
}

.per_military_zone {
    position: absolute;
    width: 50px;
    height: 80px;
}

.per_hoplite {
    background-image: url(img/hoplites.jpg);
    background-size:  calc(5 * var(--military_s)) calc(7 * var(--military_l));
    background-repeat: no-repeat;
    position: absolute;
    width: var(--military_s);
    height: var(--military_l);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
}

.per_trireme {
    background-image: url(img/triremes.jpg);
    background-size:  calc(5 * var(--military_l)) calc(7 * var(--military_s));
    background-repeat: no-repeat;
    position: absolute;
    width: var(--military_l);
    height: var(--military_s);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
}

/* IDENTITIES */

#periklesboard {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: auto;
}

#perikles_map {
    position: relative;
    background-size: 1298px 1500px;
    background-image: url(img/perikles_board.jpg);
    background-repeat: no-repeat;
    min-width: 1298px;
    min-height: 1500px;
}

#deadpool {
    display: flex;
    flex-direction: column;
    min-width: max-content;
    margin: 0 5px;
    padding: 5px;
    border: 3px ridge #8F8C7E;
    background-color: lightgray;
}

#deadpool h1 {
    font-family: 'ThrumsSerifRegular';
    font-style: normal;
    font-weight: 700;
    color: #767060;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}