/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Perikles implementation : © <David Edelstein> <david.edelstein@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * perikles.css
 *
 * Perikles stylesheet
 *
 */


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

@font-face {
    font-family: 'ThrumsSerifRegular', serif;
    src: local('ThrumsSerifRegular'), url('https://fontlibrary.org//face/thrums-serif-regular');
    font-style: normal;
    font-weight: normal;
}

/* latin-ext */
@font-face {
    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bodonimoda/v7/aFT67PxzY382XsXX63LUYL6GYFcan6NJrKp-VPjfJMShrpsGFUt8oand8Il4tGjM.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bodonimoda/v7/aFT67PxzY382XsXX63LUYL6GYFcan6NJrKp-VPjfJMShrpsGFUt8oand8Id4tA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --color_sparta: #F3BE7A;
    --color_athens: #83CBFA;
    --color_corinth: #B95AB4;
    --color_argos: #A9D035;
    --color_thebes: #F8F654;
    --color_megara: #FF633A;
    --color_persia: #C9C5C4;
    --color_any: #9A5200;
    /* map dimensions */
    --map_w: 1298px;
    --map_h: 1500px;
    /* tokens */
    --counter_dim: 52px;
    /* board has been blown up to 2x size */
    --boardscale: 2;
    /* Influence tiles */
    --influence_sprites_w: 384px;
    --influence_sprites_h: 1393px;
    /* card dimensions */
    --influence_w: 128px;
    --influence_h: 199px;
    --influence_scale: 0.5;
    /* Special tiles */
    --special_sprites_w: 1244px;
    --special_sprites_h: 980px;
    --special_w: 311px;
    --special_h: 490px;
    /* Leader/Defeat counters */
    --counter_w: 83px;
    --counter_h: 82px;
    --counter_scale: 0.5;
    /* Location tiles */
    --location_w: 124px;
    --location_h: 195px;
    --location_scale: 0.55;
    /* Military tiles */
    --military_l: 100px;
    --military_s: 62px;
    /* log size */
    --log-font: 1em;
    /* permission panel */
    --permission_w: 600px;
    /** dice on the board */
    --dice_dim: 66px;
}

.spectatorMode #player_options {
    display: none;
}

.log .roundedbox {
    font-size: var(--log-font);
    overflow: hidden;
}

.log :is(.prk_cube, .prk_leader, .prk_statue, .prk_defeat, .prk_military, .prk_battle_token) {
    top: 0;
    float: right;
}

.log .prk_military {
    transform: scale(0.7);
}

.prk_player_infl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1px;
    min-height: calc(var(--scale)*var(--influence_h));
    margin-bottom: 4px;
}

/* shows victory tiles */
.prk_player_tiles {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 4px;
    margin-top: 15px;
    padding-top: 5px;
    border-top: groove lightgray 4px;
    min-height: calc(var(--scale)*var(--location_h));
}

.prk_city {
    position: absolute;
    width: 322px;
    height: 215px;
}

.prk_city[data-highlight="true"] {
    animation: prk_border_pulse 5s infinite;
}

.prk_city_name {
    display: inline-block;
    font-family: 'ThrumsSerifRegular';
    font-size: 110%;
    font-weight: 700;
    padding: 0 2px;
}

.prk_citystack_tooltip {
    display: flex;
    flex-direction: column;
    /* column-gap: 0.25em; */
    font-family: 'ThrumsSerifRegular';
    justify-items: center;
    text-align: center;
}

.prk_citystack_tooltip_inner {
    display: flex;
    flex-direction:row;
    /* column-gap: 0.25em; */
}

/* the trireme/hoplite columns */

.prk_stack_column {
    display: flex;
    flex-direction: column;
    row-gap: 0.25em;
    width: fit-content;
    align-items: baseline;
}

.prk_shadow {
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 1px 1px 1px rgba(0,0,0,.8);
}

@keyframes prk_border_pulse {
    0% {
        border: white 4px dotted;
        border-radius: 15px;
    }
    20% {
        border: white 4px dotted;
        border-radius: 15px;
    }
    30% {
        border: lightgray 4px dotted;
        border-radius: 15px;
    }
    50% {
        border: #888c8d 4px dotted;
        border-radius: 15px;
    }
    70% {
        border: lightgray 4px dotted;
        border-radius: 15px;
    }
    90% {
        border: white 4px dotted;
        border-radius: 15px;
    }
    100% {
        border: white 4px dotted;
        border-radius: 15px;
    }
}

.prk_special_tile {
    background-repeat: no-repeat;
    position: relative;
    width: calc(var(--scale) * var(--special_w));
    height: calc(var(--scale) * var(--special_h));
    margin: 2px 15px 2px 2px;
}

.prk_special_tile[data-side="front"] {
    background-image: url(img/special_tiles.jpg);
    background-size: calc(var(--scale) * var(--special_sprites_w)) calc(var(--scale) * var(--special_sprites_h));
}

.prk_special_tile[data-side="back"] {
    background-image: url(img/special_cardback.jpg);
    background-size: calc(var(--special_w)*var(--scale)) calc(var(--special_h)*var(--scale));
}

.prk_special_tile[data-status="used"] {
    opacity: 0.5;
    transform: rotate(180deg);
}

.prk_special_tile[data-log="true"] {
    float: right;
}

.prk_special_tile_tt {
    background-image: url(img/special_tiles.jpg);
    background-size: calc(var(--scale) * var(--special_sprites_w)) calc(var(--scale) * var(--special_sprites_h));
    background-repeat: no-repeat;
    position: relative;
    width: calc(var(--scale) * var(--special_w));
    height: calc(var(--scale) * var(--special_h));
    margin: 5px;
}

/* marks a tile as claimed by multiple players */
.prk_persian_victory {
    font-family: 'Bodoni Moda';
    background-color: var(--color_persia);
    font-weight: 700;
    color: black;
    position: absolute;
    width: 100%;
}

.prk_special_log {
    font-family: 'Bodoni Moda';
    font-weight: bold;
}

.prk_location_slot {
    position: absolute;
    width: 70px;
    height: 104px;
}

.prk_battle {
    position: absolute;
    width: 91px;
    height: 49px;
}

.prk_location_tile {
    background-image: url(img/location_tiles.jpg);
    background-size: calc(var(--location_w)*7 *var(--location_scale)) calc(var(--location_h)*3*var(--location_scale));
    background-repeat: no-repeat;
    position: relative;
    width: calc(var(--location_scale) * var(--location_w));
    height: calc(var(--location_scale) * var(--location_h));
}

.prk_location_tile_log {
    background-image: url(img/location_tiles.jpg);
    background-size: calc(var(--location_w)*7 *var(--location_scale)) calc(var(--location_h)*3*var(--location_scale));
    background-repeat: no-repeat;
    position: relative;
    width: calc(var(--location_scale) * var(--location_w));
    height: calc(var(--location_scale) * var(--location_h));
    transform: scale(0.7);
    float: right;
}

.prk_location_tooltip {
    display: flex;
    flex-direction: row;
}

.prk_location_tt_inner {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 3px ridge darkgray;
}

.prk_location_tt_inner > hr {
    width: 100%;
    margin: auto;
    border-width: 1px;
    border-style: ridge;
}

.prk_location_tt_inner > h1 {
    text-align: center;
    font-family: Bodoni Moda;
}

.prk_location_tt_inner > h2 {
    padding: 0 5px 15px;
}

.prk_location_vp_text {
    width: 100%;
    background-color: #ccc;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}

.prk_location_militia_text {
    width: 100%;
}

/* spans in log messages */
.prk_hit {
    font-family: 'Bodoni Moda';
    font-size: 1.25em;
    color: red;
    text-shadow: 0px 2px 4px #fff, 0px -2px 10px #8a0303, 0px -20px 40px #C33;
}

.prk_miss {
    font-family: 'Bodoni Moda';
    font-size: 1.25em;
    color: yellow;
    text-shadow: 0px 2px 4px #000, 0px -2px 10px #8a0303, 0px -20px 40px #C33;
}

.perikles {
    background-position: 0px 0px;
}

.persianfleet {
    background-position: calc(-1 * var(--scale) * var(--special_w)) 0px;
}

.slaverevolt {
    background-position: calc(-2 * var(--scale) * var(--special_w)) 0px;
}

.brasidas {
    background-position: calc(-3 * var(--scale) * var(--special_w)) 0px;
}

.thessalanianallies {
    background-position: 0px calc(-1 * var(--scale) * var(--special_h));
}

.alkibiades {
    background-position: calc(-1 * var(--scale) * var(--special_w)) calc(-1 * var(--scale) * var(--special_h));
}

.phormio {
    background-position: calc(-2 * var(--scale) * var(--special_w)) calc(-1 * var(--scale) * var(--special_h));
}

.plague {
    background-position: calc(-3 * var(--scale) * var(--special_w)) calc(-1 * var(--scale) * var(--special_h));
}

.prk_influence_tile {
    background-image: url(img/influence_tiles.jpg);
    background-size:  calc(var(--influence_sprites_w)*var(--influence_scale)) calc(var(--influence_sprites_h)*var(--influence_scale));
    background-repeat: no-repeat;
    position: relative;
    width: calc(var(--influence_w)*var(--influence_scale));
    height: calc(var(--influence_h)*var(--influence_scale));
    /* outline: 1px gray ridge; */
}

.prk_influence_tile[data-highlight="true"] {
    transform: scale(1.1);
    transition: transform 0.5s;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    cursor: grab;
}

.prk_player_counter {
    background-image: url(img/leader_counters.jpg);
    background-size:  calc(11 * var(--counter_scale) * var(--counter_w)) calc(var(--counter_scale) * var(--counter_h));
    background-repeat: no-repeat;
    position: relative;
    width: calc(var(--counter_scale) * var(--counter_w));
    height: calc(var(--counter_scale) * var(--counter_h));
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
}

.prk_defeat {
    background-image: url(img/leader_counters.jpg);
    background-size:  calc(11 * var(--counter_scale) * var(--counter_w)) calc(var(--counter_scale) * var(--counter_h));
    background-repeat: no-repeat;
    position: relative;
    width: calc(var(--counter_scale) * var(--counter_w));
    height: calc(var(--counter_scale) * var(--counter_h));
    top: 5px;
    margin: 1px;
    background-position: calc(-10 * var(--counter_scale) * var(--counter_w)) 0;
    box-shadow: 3px 3px 12px 5px #8a0303;
}

.prk_leader[data-color='black'] {
    background-position: 0 0;
}

.prk_statue[data-color='black'] {
    background-position: calc(-1 * var(--counter_scale) * var(--counter_w)) 0;
}

.prk_leader[data-color='white'] {
    background-position: calc(-2 * var(--counter_scale) * var(--counter_w)) 0;
}

.prk_statue[data-color='white'] {
    background-position: calc(-3 * var(--counter_scale) * var(--counter_w)) 0;
}

.prk_leader[data-color='orange'] {
    background-position: calc(-4 * var(--counter_scale) * var(--counter_w)) 0;
}

.prk_statue[data-color='orange'] {
    background-position: calc(-5 * var(--counter_scale) * var(--counter_w)) 0;
}

.prk_leader[data-color='green'] {
    background-position: calc(-6 * var(--counter_scale) * var(--counter_w)) 0;
}

.prk_statue[data-color='green'] {
    background-position: calc(-7 * var(--counter_scale) * var(--counter_w)) 0;
}

.prk_leader[data-color='red'] {
    background-position: calc(-8 * var(--counter_scale) * var(--counter_w)) 0;
}

.prk_statue[data-color='red'] {
    background-position: calc(-9 * var(--counter_scale) * var(--counter_w)) 0;
}

.prk_influence_slot {
    position: absolute;
    width: calc(var(--boardscale) * 38px);
    height: calc(var(--boardscale) * 53px);
}

.prk_counter_slot {
    position: absolute;
    height: var(--counter_dim);
    width: var(--counter_dim);
}

.prk_city_cubes {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 14px;
    height: 120px;
}

.prk_city_cubes[data-highlight="true"] {
    border-radius: 4px;
    outline: 2px dotted red;
    box-shadow: darkgray 0px 4px 8px 8px;
    cursor: pointer;
}

.prk_candidate_space {
    position: absolute;
    width: 14px;
    height: 14px;
}

.prk_candidate_space[data-highlight="true"] {
    background-color: lightpink;
    border: red solid 1px;
    border-radius: 4px;
    opacity: 0.5;
    animation: prk_candidate_space_pulse 3s infinite;
}

.prk_cube {
    position: relative;
    width: 14px;
    height: 14px;
    box-shadow: rgb(38 57 77) 0px 4px 4px 0px;
    margin: 2px 0;
}

.prk_cube[data-action="remove"] {
    border-radius: 2px;
    outline: 1px solid orangered;
    outline-offset: 2px;
    box-shadow: 3px 3px 12px 5px #8a0303;
    cursor: url(img/sword_cursor.png), crosshair;
}

.prk_cube[data-action="remove"]:hover {
    transform: scale(0.9) rotate(45deg);
    transition: transform 0.25s;
    outline: 1px dotted white;
}

.prk_cube[data-action="alkibiades"] {
    margin-left: 4px;
}

.prk_cube[data-highlight="true"] {
    border-radius: 4px;
    outline: 2px dotted green;
    cursor: pointer;
}

.prk_cube[data-action="alkibiades"]:hover {
    transform: scale(1.1) rotate(180deg);
    transition: transform 0.25s;
    box-shadow: lightgray 0px 2px 4px 4px;
    cursor: grabbing;
}

.prk_statue_zone {
    position: absolute;
    width: 40px;
    height: 45px;
}

.prk_military_zone {
    position: absolute;
    width: 50px;
    height: 80px;
}

.prk_military {
    background-repeat: no-repeat;
    position: absolute;
    transition: transform 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
}

.prk_military[data-selectable="true"] {
    outline: 2px dashed red;
}

.prk_military[data-selectable="true"]:hover {
    transform: scale(1.05);
    transition: transform 0.25s;
    box-shadow: rgba(143, 15, 15, 0.4) 0px 54px 55px, rgba(143, 15, 15, 0.4) 0px -12px 30px, rgba(143, 15, 15, 0.4) 0px 4px 6px, rgba(143, 15, 15, 0.4) 0px 12px 13px, rgba(143, 15, 15, 0.4) 0px -3px 5px;    
    cursor: grab;
}

/* for hiding units that have been selected on main board */
.prk_military[data-selected="true"] {
    display: none;
}

.prk_military[data-deadpool="true"] {
    filter: grayscale(50%);
}

.prk_military[data-casualty="true"] {
    transition: all 0.25s;
    box-shadow: 3px 3px 12px 5px #8a0303;
}

.prk_military[data-casualty="true"]:hover {
    box-shadow: inset 1px 1px 2px 2px #8a0303;
}

/* reverse blood shadow for retrieval */
.prk_military[data-deadpool="button"] {
    box-shadow: inset 1px 1px 2px 2px #8a0303;
}

.prk_military[data-deadpool="button"]:hover {
    box-shadow: 3px 3px 12px 5px #8a0303;
}

/* for highlighted battles */
.prk_military[data-highlight="true"] {
    outline: solid red 4px;
}

.prk_hoplite {
    background-image: url(img/hoplites.jpg);
    background-size:  calc(5 * var(--military_s)) calc(7 * var(--military_l));
    width: var(--military_s);
    height: var(--military_l);
}

.prk_hoplite[data-stack="true"] {
    background-size:  calc(2.5 * var(--military_s)) calc(3.5 * var(--military_l));
    width: calc(0.5 * var(--military_s));
    height: calc(0.5 * var(--military_l));
}

.prk_trireme {
    background-image: url(img/triremes.jpg);
    background-size:  calc(5 * var(--military_l)) calc(7 * var(--military_s));
    width: var(--military_l);
    height: var(--military_s);
}

.prk_trireme[data-stack="true"] {
    background-image: url(img/triremes.jpg);
    background-size:  calc(2.5 * var(--military_l)) calc(3.5 * var(--military_s));
    width: calc(0.5 * var(--military_l));
    height: calc(0.5 * var(--military_s));
}

.prk_hoplite_battle {
    transform: matrix(0.8, 0, 0, 0.8, 8, -20) rotate(90deg);
}

/* scaling hoplite counter to a battle slot */
.prk_trireme_battle {
    transform: matrix(0.8, 0, 0, 0.8, -8, -4);
}

.prk_btn {
    height: 50px;
    width: 200px;
    font-family: 'ThrumsSerifRegular';
    font-size: 21px;
    color: #494949;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position:relative;
}

.prk_btn:hover {
    color: lightgray;
}

.prk_btn:active {
    top: 0.1em;
}

.prk_send_btn {
    background-color: steelblue;
    border: 3px ridge darkslategray;
}

.prk_cancel_btn {
    background-color: darkgray;
    border: 3px ridge darkslategray;
}

.prk_permission_box {
    display: flex;
    flex-direction: column;
    width: var(--permission_w);
    margin: 0 5px;
    padding: 2px 2px 42px;
    transform: translateX(300px);
}

.prk_permission_box > span {
    background-color: #ccc;
    padding: 0.25em 0.5em;
    font-size: 1em;
    font-weight: 700;
    margin-left: 5px;
    width: fit-content;
}

.prk_permission_row {
    display: flex;
    flex-direction: row;
}

.prk_city_btn {
    color: black;
    font-size: 18px;
    font-family: 'ThrumsSerifRegular';
    font-weight: 700;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    width: 100px;
    height: 35px;
    margin: 2px;
    padding: 2px;
    border: 6px ridge #767060;
}

.prk_city_btn[data-status="neutral"] {
    border: 6px ridge #767060;
    background-color: lightgray;
}

.prk_city_btn[data-status="war"] {
    border: 6px ridge red;
    color: red;
    background-color: lightgray;
}

.prk_city_btn[data-status="allied"] {
    border: 6px ridge green;
    color: green;
    background-color: lightgray;
}

/* just means CAN be a defender, not actually one */
.prk_city_btn[data-defender="true"] {
    pointer-events: 'none';
    color: white;
    background-color: green !important;
}

.prk_city_btn:hover:not([data-status="war"]) {
    text-shadow: none;
    border: 4px ridge lightgray;
    transition: all 0.25s;
}

.prk_plague_btn {
    font-size: 1.5em;
    font-family: 'ThrumsSerifRegular';
    border: 4px groove black;
    width: 100px;
    height: max-content;
    margin: 5px;
    box-shadow: 2px 2px 15px 5px darkslategray;
}

.prk_plague_btn:hover {
    background-color: black !important;
    color: white;
}

.prk_slaverevolt_btn {
    color: black;
    font-size: 18px;
    font-family: 'ThrumsSerifRegular';
    background-color: var(--color_sparta);
    font-weight: 700;
    text-align: center;
    width: max-content;
    height: 2em;
    line-height: 2em;
    margin: 2px;
    padding: 0 4px;
    border: 4px ridge #767060;
    text-shadow: 0px 1px 0px rgba(219, 7, 7, 0), 0px -1px 0px rgba(174, 4, 4, 0.7);
}

.prk_slaverevolt_btn:hover {
    color: black;
    background-color: white !important;
    border: 4px groove black;
    cursor: grabbing;
}

.prk_alkibiades_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 18px;
    font-family: 'ThrumsSerifRegular';
    font-weight: 700;
    text-align: center;
    width: 130px;
    height: 35px;
    margin: 2px;
    border: 14px ridge white;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(255, 255, 255, 1);
}

.prk_alkibiades_btn[data-noselect="true"] {
    background-color: lightgray !important;
}

.prk_alkibiades_btn > .prk_cube {
    margin-left: 4px;
}

/* cube that is currently selected */
.prk_cube[data-selected="true"] {
    transform: scale(1.1);
    outline: yellow solid 2px;
}

.prk_alkibiades_row {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.prk_alkibiades_civs {
    display: inline-flex;
    flex-direction: column;
    background-color: lightgray;
    border: groove darkgray 12px;
    padding: 2px;
    margin: 5px;
}

.prk_alkibiades_civs > h2 {
    font-family: 'Bodoni Moda';
}

.prk_city_banner {
    color: black;
    font-size: 1em;
    font-family: 'ThrumsSerifRegular';
    font-weight: 800;
    text-align: center;
    width: 100px;
    height: 35px;
    margin: 2px;
    border: 4px ridge #000;
}

.prk_mil_board {
    min-width: fit-content;
    min-height: fit-content;
    margin: 0 10px;
}


.prk_mil_board > h3 {
    font-size: 2em;
}

/* on My Military board */

/* all the Hoplites and Triremes for one city */
.prk_mil_container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: stretch;
    min-width: calc(var(--military_l)+var(--military_s));
    min-height: fit-content;
    margin-bottom: 10px;
}

/* hoplites or triremes */
.prk_units_column {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: relative;
}

.prk_units_column[data-unit="hoplites"] {
    margin-right: 5px;
    min-height: var(--military_l);
    width: var(--military_s);
}

.prk_units_column[data-unit="hoplites"] > div {
    min-height: var(--military_l);
}

.prk_units_column[data-unit="triremes"] {
    min-height: var(--military_s);
    width: var(--military_l);
}

.prk_units_column[data-unit="triremes"] > div {
    min-height: var(--military_s);
}

/* for a given strength */
.prk_units_container {
    display: none;
    position: relative;
}

.prk_hdr {
    font-family: 'ThrumsSerifRegular';
    font-style: normal;
    margin: 5px 10px;
    font-weight: 700;
    color: #767060;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

.prk_send_dlg {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}

.prk_battle_icon {
    background-image: url(img/sword-shield-icons.png);
    background-size: 150px 50px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 5px;
    transition: transform 0.5s;
    /* box-shadow: 15px 15px 15px 5px rgba(110, 2, 2, 0.4); */
}

.prk_blank_icon {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.prk_battle_icon:hover {
    cursor: pointer;
    /* box-shadow: 5px 5px 5px 0px rgba(110, 2, 2, 0.4); */
}

.prk_commit_icon[data-icon="sword"] {
    background-position: 0px 0px;
}

.prk_battle_icon[data-icon="sword"]:hover {
    transform: translateX(5px);
}

.prk_battle_icon[data-icon="shield"] {
    background-position: -50px 0px;
}

.prk_battle_icon[data-icon="shield"][data-permission="true"]:hover {
    transform: translateX(-5px);
}

.prk_battle_icon[data-icon="shield"][data-permission="false"] {
    background-position: -100px 0px;
    cursor: not-allowed;
}

.prk_crt {
    position: absolute;
    width: 40px;
    height: 94px;
}

.prk_crt[data-highlight="true"] {
    border: dashed 3px red;
}

.prk_battle_token {
    background-image: url(img/battle_token.png);
    background-repeat: no-repeat;
    background-size: 36px 60px;
    padding: 3px;
    margin: 2px;
    width: 36px;
    height: 60px;
}

.prk_token_box {
    height: 65px;
    display: grid;
    justify-content: center;
    position: absolute;
    grid-template-columns: repeat(auto-fit,  minmax(10px, max-content));
}

/* log icons */
.prk_dice {
    display: inline-block;
    background-image: url(img/dice.png);
    background-repeat: no-repeat;
    background-size: 198px 33px;
    width: 33px;
    height: 33px;
    vertical-align: bottom;
}

.prk_dice[data-side="defender"] {
    filter: sepia(100%);
}

.prk_dicetotal {
    font-family: 'ThrumsSerifRegular';
    font-size: 1.5em;
    font-weight: 700;
}

/* container for die */
.prk_dice_box {
    position: absolute;
    width: var(--dice_dim);
    height: var(--dice_dim);
    z-index: 2;
}

.prk_dice_box[data-result="hit"] {
    box-shadow: 3px 3px 12px 5px red;
}

.prk_dice_box[data-result="miss"] {
    box-shadow: 3px 3px 12px 5px yellow;
}

/* Holder of all die faces */
.prk_dice_cube {
    width: var(--dice_dim);
    height: var(--dice_dim);
    /* place above defeat counters */
    transform-style: preserve-3d;
}

/* left die */
.prk_die_1 {
    transition: transform 1.5s ease-out;
}

/* left right */
.prk_die_2 {
    transition: transform 1.25s ease-out;
}

/* while rolling */
.prk_die_1[data-roll="1"] {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}
.prk_die_1[data-roll="2"] {
    transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}
.prk_die_1[data-roll="3"] {
    transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}
.prk_die_1[data-roll="4"] {
    transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}
.prk_die_1[data-roll="5"] {
    transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}
.prk_die_1[data-roll="6"] {
    transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}
.prk_die_2[data-roll="1"] {
    transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}
.prk_die_2[data-roll="2"] {
    transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}
.prk_die_2[data-roll="3"] {
    transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}
.prk_die_2[data-roll="4"] {
    transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}
.prk_die_2[data-roll="5"] {
    transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}
.prk_die_2[data-roll="6"] {
    transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
}

/* display faces */
.prk_die_face {
    position: absolute;
    background-image: url(img/dice.png);
    background-repeat: no-repeat;
    background-size: calc(var(--dice_dim)*6) var(--dice_dim);
    width: 100%;
    height: 100%;
}

.prk_die_face[data-face="1"] {
    background-position: 0 0;
    transform: rotate3d(0, 0, 0, 90deg) translateZ(2rem);
}

.prk_die_face[data-face="2"] {
    background-position: calc(var(--dice_dim)*-1) 0;
    transform: rotate3d(-1, 0, 0, 90deg) translateZ(2rem);
}

.prk_die_face[data-face="3"] {
    background-position: calc(var(--dice_dim)*-2) 0;
    transform: rotate3d(0, 1, 0, 90deg) translateZ(2rem);
}

.prk_die_face[data-face="4"] {
    background-position: calc(var(--dice_dim)*-3) 0;
    transform: rotate3d(0, -1, 0, 90deg) translateZ(2rem);
}

.prk_die_face[data-face="5"] {
    background-position: calc(var(--dice_dim)*-4) 0;
    transform: rotate3d(1, 0, 0, 90deg) translateZ(2rem);
}

.prk_die_face[data-face="6"] {
    background-position: calc(var(--dice_dim)*-5) 0;
    transform: rotate3d(1, 0, 0, 180deg) translateZ(2rem);
}

.prk_die_face[data-side="defender"] {
    filter: sepia(100%);
}

/* Handle the options checkmark */
.prk_player_opt {
    display: flex;
    font-family: 'ThrumsSerifRegular';
}

/* Hide the browser's default checkbox */
.prk_player_opt input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.prk_checkmark {
    height: 1em;
    width: 1.25em;
    margin: 2px 5px;
    background-color: #eee;
    border: solid 2px lightgray;
}

/* On mouse-over, add a grey background color */
.prk_player_opt:hover input ~ .prk_checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.prk_player_opt input:checked ~ .prk_checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.prk_checkmark:after {
    content: "";
    display: none;
}

/* Show the checkmark when checked */
.prk_player_opt input:checked ~ .prk_checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.prk_player_opt .prk_checkmark:after {
    left: 2px;
    top: 2px;
    width: 0.5em;
    height: 0.5em;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.prk_help {
    font-size: 1.5em;
    padding: 0.25em;
}

.prk_dlg_loc_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* showing forces displayed in tooltip in location tile in commit forces dialog box */
.prk_dlg_forces_tt {
    text-align: center;
    width: fit-content;
}

.prk_dlg_forces_tt > h2 {
    font-family: 'ThrumsSerifRegular';
    font-size: 1.5em;
    font-weight: 700;
    border: ridge 4px slategray;
    padding: 0.5em;
}

.prk_dlg_forces {
    display: flex;
    flex-direction: row;
}

.prk_dlg_forces_container {
    text-align: center;
    margin: 1em;
}

.prk_dlg_forces_container > h3 {
    width: 100%;
    background-color: lightgrey;
    border: ridge 2px slategray;
}

.prk_dlg_forces_row {
    display: flex;
    flex-direction: row;
    column-gap: 0.25em;
}

.prk_permrequest {
    margin: 2px auto;
    text-align: left;
    padding-left: 10vw;
}

/******************* IDs for unique elements *******************/

#periklesboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

#perikles_map {
    position: relative;
    background-size: var(--map_w) var(--map_h);
    background-image: url(img/perikles_board.jpg);
    background-repeat: no-repeat;
    min-width: var(--map_w);
    min-height: var(--map_h);
}

#crt_table {
    position: absolute;
    left: 917px;
    top: 35px;
    width: 330px;
    height: 134px;
}

#deadpool {
    display: none;
    width: var(--map_w);
    margin: 5px;
    padding: 5px;
    border: 3px ridge #44443e;
    background-color: #8F8C7E;
}

#deadpool > h2 {
    font-size: 3em;
}

#deadpool > h3 {
    font-size: 2em;
}

#deadpool_ctnr {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#unclaimed {
    height: fit-content;
    max-width: 240px;
    min-height: calc(var(--location_h) + 10px);
    border: 3px ridge gray;
    background-color: antiquewhite;
}

#unclaimed_tiles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: columns;
    margin: 5px 0;
    width: 100%;
    padding: 5px;
}

#unclaimed_tiles > div {
    margin: 5px;
}

#unclaimed_hdr {
    font-size: 2em;
    color: #222222;
}

#military_board {
    min-height: fit-content;
    margin: 5px;
    border: 3px ridge #1E131B;
    background-color: #eee;
    max-width: var(--map_w);
    overflow: auto;
    display: none;
}

#military_board > h2 {
    font-size: 3em;
}

#mymilitary {
    display: flex;
    flex-direction: row;
}

#plague_city_div {
    display: inline-flex;
    flex-direction: row;
    margin-left: 4px;
}

#slaverevolt_div {
    display: inline-flex;
    flex-direction: row;
    margin-left: 4px;
}

#slaverevolt_div > div {
 margin-left: 4px;
}

#permissions_panel {
    position: absolute;
    left: var(--map_w);
    top: 480px;
    width: var(--permission_w);
    height: 990px;
    z-index: -1;
}

#defenders_permission_banner {
    position: absolute;
    left: var(--map_w);
    bottom: 852px;
    display: flex;
    flex-direction: column;
    font-family: 'ThrumsSerifRegular';
    color: white;
    margin: 5px;
    width: var(--permission_w);
    height: min-content;
    background: gray;
    padding: 2px;
    border: 2px solid black;
}

#commit_text {
    display: none;
    min-width: 100%;
    margin: 2px;
    padding: 2px;
    text-align: center;
    color: #fff;
    background-color: #4992D2;
    max-width: fit-content;
}

#player_options {
    display: flex;
    width: 95%;
    margin: 1em 0 0 0.25em;
    padding: 3px;
    background-color: navajowhite;
    border: solid 1px gray;
    font-size: 1.25em;
}

#player_options > i {
    margin: 2px 10px;
}

#CommitDialogDiv {
    display: flex;
    flex-direction: column;
    top: 50px;
    text-align: center;
}

#commit_dlg_cols {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#commit_dlg_btn_ctnr {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#commit_dlg_locations_col {
    display: flex;
    flex-direction: column;
    margin: 10px;
}